* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
:root {
  --white: #fff;
  --default-gold: #daa520;
  --default-blue: #0000ff;
}
::selection {
  background-color: var(--default-gold);
  color: var(--white);
}

body {
  background: #f0f2f5;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-image: url(./images/yellow-train-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  height: min-content;
  border-bottom: 2px var(--default-gold) solid;
  transition: all ease-in-out 0.5s;
}

.logo {
  display: flex;
  align-items: center;
}
.logo-txt {
  display: flex;
}
.side-menu {
  display: none;
  flex-direction: column;
  z-index: 100;
  margin-top: 1px;
  position: fixed;
  top: 0;
  right: 0;
  transition: all ease 0.5s;
  background-color: #fff;
  width: 300px;
  height: 100vh;
  padding: 20px 30px;
}
.fa-times {
  align-self: flex-end;
  margin-bottom: 20px;
}
.side-menu a {
  text-decoration: none;
  color: var(--default-blue);
  font-size: 24px;
  transition: all ease-in-out 0.5s;
  background-color: lightblue;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: #90909036;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(20px);
  z-index: 99;
  transition: all ease-in-out 0.5s;
}
.tab {
  text-align: center;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.tab.active {
  background: var(--default-gold);
  color: white;
  border: none;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  transition: all ease-in-out 0.5s;
  margin-left: -50px;
  transition: all ease-in-out 0.5s;
  padding-bottom: 2px;
}
.nav-links a {
  text-decoration: none;
  color: var(--default-gold);
  font-size: 24px;
  transition: all ease-in-out 0.5s;
}

.nav-links a.active {
  border-bottom: 2px var(--default-blue) solid;
  color: var(--default-gold);
}
.nav-links a:hover {
  border-bottom: 2px var(--default-blue) dotted;
  color: var(--default-gold);
}

.fa-user {
  color: var(--default-blue);
  font-size: 24px;
  cursor: pointer;
}

.toggle-menu {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  transition: ease 0.5s;
  cursor: pointer;
}
.toggle-menu a {
  text-decoration: none;
  color: var(--default-gold);
  font-size: 24px;
}
.toggle-menu:hover {
  border-left: 2px var(--default-blue) solid;
  transition: ease 0.5s;
}
.toggle-menu a {
  font-size: 24px;
  font-weight: 700;
  color: var(--default-gold);
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 30px;
  min-width: 400px;
  max-width: 400px;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 2px 4px #daa520;
}

.lf-head {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}

.lf-head a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 10px 20px;
}

.lf-head a.lf-active {
  color: blue;
  border-bottom: 2px solid blue;
}

.pass {
  position: relative;
  display: flex;
  align-items: center;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.pass input {
  margin-bottom: 5px;
}

.pass button {
  position: absolute;
  right: 10px;
  border: none;
  background: none;
  padding: 5px;
}

#forgot {
  display: block;
  text-align: right;
  color: blue;
  text-decoration: none;
  margin-bottom: 20px;
  font-size: 14px;
}

.btn {
  background: blue;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  padding: 10px;
  border-radius: 8px;
  align-self: center;
}
#t-btn {
  background: transparent;
  color: blue;
  border: none;
  outline: 2px solid #0000ff;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  padding: 10px 20px;
  border-radius: 25px;
  align-self: center;
}
#t-btn:hover {
  background-color: lightyellow !important;
}
.btn:hover {
  background: darkblue;
}

.signup-form {
  display: none;
  max-width: 400px;
  margin: auto;
  margin-bottom: -5px;
  padding: 30px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.error {
  color: red;
  font-size: 12px;
  margin-top: -10px;
  margin-bottom: 10px;
  display: block;
}

/* Dashboard styles */
.dashboard-container {
  background-color: var(--white);
  display: none;
  width: 100vw;
  margin-top: 80px;
  padding: 20px;
  height: 100vh;
}
.dashboard-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.mini-dash {
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.dash-ticket {
  background-color: rgb(224, 233, 236);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  border-radius: 10px;
}
@media screen and (max-width: 1200px) {
  .dashboard-content {
    display: flex;
    flex-direction: column;
  }
  .mini-dash {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: space-between;
    gap: 20px;
  }
  .user {
    grid-column: 1 / 2;
  }
  .user-card {
    grid-column: 2 / 3;
    margin-left: -40px;
  }
  .container {
    /* display: none !important; */
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
}
@media screen and (max-width: 1060px) {
  .mini-dash {
    display: flex;
    justify-content: space-evenly;
  }
  .container {
    display: none !important;
}
}
@media screen and (max-width: 800px) {
  .welcome-header{
    margin-top: 50px;
  }
  .mini-dash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .container {
    display: flex !important;
  }
}
@media screen and (max-width: 530px) {
  .user-card{
    min-width: 95% !important;
    margin:0 auto ;
  }
  .user-amount{
    width: 150px !important;
  }
}
@media screen and (max-width:365px) {
  .user-btn a{
    font-size: 12px;
  }
  .user-card{
    min-height: 200px !important;
  }
  .user-info{
    font-size: 18px !important;
  }
}
.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
  max-height: 300px;
  justify-content: space-around;
  background-color: var(--default-blue);
  padding: 10px 20px;
  gap: 20px;
  border-radius: 15px;
}
.fa-user-tie {
  font-size: 102px;
  color: lightgoldenrodyellow;
  padding: 40px;
  border-radius: 50%;
  background-color: lightblue;
}
.user-card {
  display: flex;
  background-color: lightblue;
  width: fit-content;
  min-width: 450px;
  min-height: 250px;
  justify-content: space-between;
  box-shadow: 1px 2px 16px #000 inset;
  padding: 0px 0px 0px 20px;
  border-radius: 10px;
  height: 30dvh;
  outline: 2px solid var(--default-blue);
}
.user-card a {
  text-decoration: none;
}
.user-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.user-amount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--default-blue);
  height: 100%;
  width: 200px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  background: var(--white);
  position: fixed;
  top: 0;
  right: 0;
  margin: 15px 25px 0px 0px;
  outline: 2px solid var(--default-blue);
  transition: all 0.3s ease;
}
.cover:hover {
  background: lightblue;
}
.cover a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: var(--default-blue);
  text-align: center;
}
.welcome-header {
  background: var(--default-blue);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.user-info {
  color: var(--white);
  font-weight: bold;
  font-size: 24px;
}

.logout-btn {
  padding: 8px 16px;
  background: goldenrod;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .nav-links,
  .toggle-menu {
    display: none;
  }
  .fa-bars {
    display: flex !important;
  }
  .cover {
    display: none;
  }
}
@media screen and (max-width: 460px) {
  .logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .logo img {
    grid-column: 1 / -1;
  }
  .logo-txt p,
  .logo-txt span {
    font-size: 14px !important;
    margin-top: -20px;
  }
}

/* facts style */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: lightskyblue;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) inset;
  text-align: center;
  max-width: 400px;
}

h2 {
  color: #333;
}

p {
  font-size: 18px;
  color: #555;
  margin: 20px 0;
}

button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #0056b3;
}
